[submodule "mds/mds-matlab-structs"]
  	ignore = true
 	path = ../scdds-core/mds/mds-matlab-structs
	url = ../../tcv/tbx/mds-matlab-structs.git

[submodule "scdds-core"]
	path = scdds-core
	url = ../scdds.git

